@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #d9d9d9;
  font-family: "Cairo", fs;
  direction: rtl; }

@media screen and (max-width: 1366px) {
  .bg-dark .nav-item .nav-link {
    font-size: 15px; } }
.h {
  width: 205px;
  height: 145px !important; }

.labeled {
  position: relative;
  width: 100%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .labeled input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .labeled .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
  .labeled:hover input ~ .checkmark {
    background-color: #ccc; }
  .labeled input:checked ~ .checkmark {
    background-color: #181817; }
  .labeled input:checked ~ .checkmark:after {
    display: block; }
  .labeled .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFB946; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.banner {
  position: relative;
  height: 200px; }
  .banner img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; }
  .banner a {
    text-decoration: none; }

.modal .modal-body img {
  width: calc(95%);
  object-fit: cover; }

.champions {
  background: #3d3f41;
  padding: 25px 20px;
  color: #d9d9d9; }
  .champions ul a {
    text-decoration: none;
    color: #d9d9d9; }
    .champions ul a li::before {
      content: "•";
      color: #ededed; }

@media screen and (max-width: 590px) {
  .container {
    width: 100%; }

  footer form {
    width: 95%; }

  footer ul li a {
    margin-right: 0pc !important; }

  .h {
    width: 100%;
    height: 100% !important; } }
footer {
  background-color: #3d3f41; }
  footer form {
    width: 65%; }
    footer form .form-control {
      margin-top: 25px;
      margin-bottom: 15px;
      padding: .7rem 1.2rem;
      font-size: .99999rem;
      line-height: 1.25;
      color: #181817 !important;
      background-color: #fff; }
  @media screen and (max-width: 590px) {
    footer form {
      width: 90%; }
    footer .btn {
      min-width: calc(100% / 3); }
    footer .copy ul li:not(:nth-child(1))::before {
      width: 0; }
    footer .list-unstyled {
      padding-right: 15px !important; } }
  footer .btn {
    cursor: pointer;
    padding: 5px 20px;
    background: #181817;
    border: 1px solid #FFB946;
    -webkit-box-sizing: border-box;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 5px;
    color: #737372;
    -webkit-transition: 0.66s ease-out;
    -moz-transition: 0.66s ease-out;
    -o-transition: 0.66s ease-out;
    transition: 0.66s ease-out;
    min-width: calc(100% / 4);
    padding: 15px;
    margin-top: 25px; }
  footer ul {
    padding-right: 15px;
    justify-content: center;
    display: flex; }
    footer ul li {
      margin-left: 15px; }
      footer ul li a {
        text-decoration: none;
        color: #737372;
        margin-right: 1pc; }
        footer ul li a:hover {
          color: #fff;
          transition: .3s ease-in; }

.copy {
  background-color: #181817;
  padding: 10px 0 0 0; }
  .copy p {
    color: #737372;
    text-align: center; }
    .copy p a {
      margin-right: 10px;
      color: #FFB946;
      text-decoration: none; }
  .copy ul {
    justify-content: center;
    display: flex;
    text-align: center; }
    .copy ul li:not(:nth-child(1))::before {
      content: "|";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #FFB946;
      /* Change the color */
      font-weight: bold;
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: 10px;
      /* Also needed for space (tweak if needed) */ }
    .copy ul li a {
      color: #737372;
      text-decoration: none; }
      .copy ul li a:hover {
        color: #fff; }

.login-content,
.signup-content {
  margin: 50px auto; }
  .login-content img,
  .signup-content img {
    margin-bottom: 50px; }
  .login-content form,
  .signup-content form {
    padding: 50px;
    width: 60%;
    margin: 0 auto;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 0 1px 9px -6px; }
    .login-content form h3,
    .signup-content form h3 {
      margin-bottom: 50px;
      color: #1b1c1e;
      font-size: 24px;
      line-height: 45px;
      font-weight: bold; }
    .login-content form .form-group,
    .signup-content form .form-group {
      margin-bottom: 50px; }
      .login-content form .form-group label,
      .signup-content form .form-group label {
        font-weight: 600;
        color: #1b1c1e;
        font-size: 16px;
        line-height: 30px;
        text-align: right; }
      .login-content form .form-group .form-control,
      .signup-content form .form-group .form-control {
        height: 46px;
        border-radius: 4px;
        background-color: #FFF;
        border: 2px solid rgba(51, 77, 110, 0.5); }
      .login-content form .form-group .btn-success,
      .signup-content form .form-group .btn-success {
        background-color: #181817;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
        margin-bottom: 15px;
        border: none;
        padding: 8px 0;
        color: #FFB946;
        cursor: pointer; }
    .login-content form .form-check,
    .signup-content form .form-check {
      margin-bottom: 50px; }
      .login-content form .form-check label,
      .signup-content form .form-check label {
        color: #1b1c1e;
        font-size: 14px;
        line-height: 26px;
        text-align: right;
        font-weight: 700;
        margin-right: 32px; }
      .login-content form .form-check .form-check-input,
      .login-content form .form-check input,
      .signup-content form .form-check .form-check-input,
      .signup-content form .form-check input {
        box-sizing: border-box;
        height: 22px;
        width: 22px;
        border-radius: 4px;
        background-color: #FFF;
        border: 1.5px solid #FFB946; }
      .login-content form .form-check .custom-control-label:before,
      .signup-content form .form-check .custom-control-label:before {
        background-color: #FFF; }
    .login-content form .text,
    .signup-content form .text {
      text-align: center; }
      .login-content form .text p,
      .signup-content form .text p {
        color: #181817;
        font-size: 14px;
        line-height: 26px; }
        .login-content form .text p a,
        .signup-content form .text p a {
          text-decoration: none;
          color: #FFB946; }

@media only screen and (max-width: 1024px) {
  .login-content form,
  .signup-content form {
    width: 95%;
    padding: 30px 30px; }
    .login-content form h3,
    .signup-content form h3 {
      font-size: 24px; } }
@media only screen and (max-width: 768px) {
  .login-content form,
  .signup-content form {
    width: 95%;
    padding: 20px 15px; }
    .login-content form h3,
    .signup-content form h3 {
      font-size: 24px; } }
@media only screen and (max-width: 599px) {
  .login-content form,
  .signup-content form {
    width: 95%;
    padding: 20px 15px; }
    .login-content form h3,
    .signup-content form h3 {
      font-size: 20px; } }

/*# sourceMappingURL=login.css.map */
