@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #d9d9d9;
  font-family: "Cairo", fs;
  direction: rtl; }

.labeled {
  position: relative;
  width: 100%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .labeled input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .labeled .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
  .labeled:hover input ~ .checkmark {
    background-color: #ccc; }
  .labeled input:checked ~ .checkmark {
    background-color: #181817; }
  .labeled input:checked ~ .checkmark:after {
    display: block; }
  .labeled .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFB946; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.banner {
  position: relative;
  height: 200px; }
  .banner img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; }
  .banner a {
    text-decoration: none; }

.modal .modal-body img {
  width: calc(95%);
  object-fit: cover; }

.champions {
  background: #3d3f41;
  padding: 25px 20px;
  color: #d9d9d9; }
  .champions ul a {
    text-decoration: none;
    color: #d9d9d9; }
    .champions ul a li::before {
      content: "•";
      color: #ededed; }

@media screen and (max-width: 590px) {
  .container {
    width: 100%; }

  footer form {
    width: 95%; } }
footer {
  background-color: #3d3f41; }
  footer form {
    width: 65%; }
    footer form .form-control {
      margin-top: 25px;
      margin-bottom: 15px;
      padding: .7rem 1.2rem;
      font-size: .99999rem;
      line-height: 1.25;
      color: #181817 !important;
      background-color: #fff; }
  @media screen and (max-width: 590px) {
    footer form {
      width: 90%; }
    footer .btn {
      min-width: calc(100% / 3); }
    footer .copy ul li:not(:nth-child(1))::before {
      width: 0; }
    footer .list-unstyled {
      padding-right: 15px !important; } }
  footer .btn {
    cursor: pointer;
    padding: 5px 20px;
    background: #181817;
    border: 1px solid #FFB946;
    -webkit-box-sizing: border-box;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 5px;
    color: #737372;
    -webkit-transition: 0.66s ease-out;
    -moz-transition: 0.66s ease-out;
    -o-transition: 0.66s ease-out;
    transition: 0.66s ease-out;
    min-width: calc(100% / 4);
    padding: 15px;
    margin-top: 25px; }
  footer ul {
    padding-right: 15px;
    justify-content: center;
    display: flex; }
    footer ul li {
      margin-left: 15px; }
      footer ul li a {
        text-decoration: none;
        color: #737372; }
        footer ul li a:hover {
          color: #fff;
          transition: .3s ease-in; }

.copy {
  background-color: #181817;
  padding: 10px 0 0 0; }
  .copy p {
    color: #737372;
    text-align: center; }
    .copy p a {
      margin-right: 10px;
      color: #FFB946;
      text-decoration: none; }
  .copy ul {
    justify-content: center;
    display: flex;
    text-align: center; }
    .copy ul li:not(:nth-child(1))::before {
      content: "|";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #FFB946;
      /* Change the color */
      font-weight: bold;
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: 10px;
      /* Also needed for space (tweak if needed) */ }
    .copy ul li a {
      color: #737372;
      text-decoration: none; }
      .copy ul li a:hover {
        color: #fff; }

.bg-dark {
  background: #181817 !important; }
  .bg-dark .nav-item .nav-link {
    color: #737372; }
    .bg-dark .nav-item .nav-link:hover {
      color: #fff;
      transition: .3s ease-in; }
  .bg-dark .navbar-brand {
    color: #FFB946; }
    .bg-dark .navbar-brand:hover {
      color: #FFB946; }
  .bg-dark .icon-bar {
    display: inline-block;
    cursor: pointer; }
    .bg-dark .icon-bar .bar1,
    .bg-dark .icon-bar .bar2,
    .bg-dark .icon-bar .bar3 {
      width: 35px;
      height: 5px;
      background-color: #FFB946;
      margin: 6px 0;
      transition: 0.4s; }
  .bg-dark .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .bg-dark .change .bar2 {
    opacity: 0; }
  .bg-dark .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

/*# sourceMappingURL=style.css.map */
