//general
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext');
@import 'variables';
@import 'mixins';
body {
    font-family: 'Cairo', 'Tajawal', sans-serif;
    direction: rtl;
    background-color: #FEFEFE;
}

//navbar->header
.bg-dark {
    background: $mc !important;
    .nav-item {
        .nav-link {
            color: #737372;
            &:hover {
                color: #fff;
                transition: .3s ease-in;
            }
        }
    }
    .navbar-brand {
        color: $tc;
        &:hover {
            color: $tc;
        }
    }
}

.select {
    margin: 40px 0;
    .nav {
        margin-bottom: 50px;
        li {
            a {
                text-decoration: none;
                border-radius: .25rem;
                margin: 10px;
                color: #737372;
                &:hover {
                    transition: .3s ease-in-out;
                    color: $tc;
                    background-color: $mc;
                }
            }
            .active {
                color: $tc;
                background-color: $mc;
            }
        }
    }
    .table {
        th,
        td {
            text-align: right;
        }
        .btn {
            cursor: pointer;
            width: calc(85% / 3);
            margin-left: 5px;
        }
    }
    .table-bordered {
        border: 3px solid #e9ecef;
    }
    .pagination {
        direction: ltr;
        margin: 25px 0;
        .page-link {
            color: #000;
        }
    }
}

table {
    border: 2px solid #ededed;
    margin: 15px auto;
}

.form {
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 10px 40px -10px rgba(24, 65, 107, 0.35);
    .form-group {
        margin-bottom: 25px;
        .form-control {
            background-color: #ddd;
            opacity: 0.6;
            border: none;
            // padding: 15px 5px;
            height: 55px !important;
        }
        .btn-success {
            color: #fff;
            background-color: #009688;
            border-color: #009688;
            padding: 10px 40px;
            margin: 40px 0px 0;
        }
    }
}

.progress {
    height: 25px;
    padding: 0;
    .progress-bar {
        background-color: $sc;
        color: $tc;
        height: 100%;
        padding: 5px 0;
        font-size: 20px;
        font-weight: 800;
    }
}

.search {
    margin: 25px 0;
    .field {
        width: 30%;
        margin: 0 auto;
    }
}

.matches {
    .match {
        margin: 30px 0;
        padding: 20px 5px;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        text-align: center;
        position: relative;
        img {
            width: 110px;
            height: 110px;
            margin-bottom: 15px;
        }
        h6 {
            text-align: center;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            .col-2 {
                padding: 0;
            }
            .form-control {
                text-align: center;
                font-weight: 900;
            }
             ::placeholder {
                color: #000;
            }
            p {
                font-size: 40px;
                text-align: center !important;
                font-weight: 900;
                width: 100%;
            }
        }
    }
}

.select .table th,
.select .table td {
    border: 2px solid #ededed;
}

.spons {}

.list-group {
    justify-content: center;
    display: flex;
    padding: 0;
}

.list-group-item {
    margin: 10px auto;
    width: 90%;
}

.close {
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
}

.heading {
    @include heading;
}

.card-text {
    padding-bottom: 15px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.chosen-container-multi .chosen-choices {
    background: #ededed;
    min-height: 80px;
    overflow: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100% $im;
}

.chosen-container {
    width: 100% $im;
}

//palyer
.team {
    // background: #fff;
    @include cards;
    .card {
        padding: 15px;
        .card-img {
            height: 230px $im;
            width: 230px $im;
        }
    }
    .heading {
        margin: 15px 0 !important;
        h4 {
            font-size: 20px;
            font-weight: 600;
            width: 100%;
        }
        hr {
            border: 1px solid #FFB946;
            width: 95%;
        }
    }
    .statsics {
        background-color: #fff;
        margin: 0;
        padding: 18px 20px;
        span {
            margin-left: 10px;
            i,
            img {
                margin-left: 5px;
            }
        }
        strong {
            font-size: 20px;
        }
    }
    .accordion {
        .card {
            margin-bottom: 0;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            .card-header {
                cursor: pointer;
                background-color: #c6cac8;
                h2 {
                    font-size: 20px;
                    padding: 10px;
                    font-weight: 600;
                }
            }
            .card-body {
                padding: 0;
            }
        }
    }
    .center {
        margin: -20px 0;
        img {
            width: calc(100%/2);
            margin: 20px auto;
        }
        p {
            color: #000;
        }
        .badge {
            color: #7b7b7b;
            font-size: 30px;
            display: inline-block;
            width: 100%;
            background-color: #FFB946;
            padding: 5px 5px;
            text-align: center;
            font-weight: 100;
        }
    }
    .bottom {
        margin: -16px 0 0 0;
        .badge {
            background: #FFB946;
            border-radius: 0;
            width: 30%;
            color: #7b7b7b;
            font-size: 15px;
            padding: 10px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p {
            text-align: right;
            color: #7b7b7b;
            padding-right: 10px;
            padding-bottom: 10px;
            i {
                margin-left: 5px;
            }
        }
    }
}

//teams
footer {
    background: $mc !important;
    padding: 25px 0;
    p {
        color: #fff;
        margin: 0;
        a {
            text-decoration: none;
            color: $tc;
            cursor: pointer;
            margin-right: 10px;
            &:hover {
                text-decoration: none;
                color: $tc;
            }
        }
    }
}

//media query
@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 590px) {
    .select .table .btn {
        width: calc(100%);
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .chosen-container-multi .chosen-choices {
        width: 100% $im;
    }
    .matches .match img {
        width: 80px;
        height: 80px;
        ;
    }
}