@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  font-family: 'Cairo', 'Tajawal', sans-serif;
  direction: rtl;
  background-color: #FEFEFE;
}

.bg-dark {
  background: #181817 !important;
}

.bg-dark .nav-item .nav-link {
  color: #737372;
}

.bg-dark .nav-item .nav-link:hover {
  color: #fff;
  transition: .3s ease-in;
}

.bg-dark .navbar-brand {
  color: #FFB946;
}

.bg-dark .navbar-brand:hover {
  color: #FFB946;
}

.select {
  margin: 40px 0;
}

.select .nav {
  margin-bottom: 50px;
}

.select .nav li a {
  text-decoration: none;
  border-radius: .25rem;
  margin: 10px;
  color: #737372;
}

.select .nav li a:hover {
  transition: .3s ease-in-out;
  color: #FFB946;
  background-color: #181817;
}

.select .nav li .active {
  color: #FFB946;
  background-color: #181817;
}

.select .table th,
.select .table td {
  text-align: right;
}

.select .table .btn {
  cursor: pointer;
  width: calc(85% / 3);
  margin-left: 5px;
}

.select .table-bordered {
  border: 3px solid #e9ecef;
}

.select .pagination {
  direction: ltr;
  margin: 25px 0;
}

.select .pagination .page-link {
  color: #000;
}

.form {
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 10px 40px -10px rgba(24, 65, 107, 0.35);
}

.form .form-group {
  margin-bottom: 25px;
}

.form .form-group .form-control {
  background-color: #ddd;
  opacity: 0.6;
  border: none;
  padding: 15px 5px;
}

.form .form-group .btn-success {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
  padding: 10px 40px;
  margin: 40px 0px 0;
}

footer {
  background: #181817 !important;
  padding: 25px 0;
}

footer p {
  color: #fff;
  margin: 0;
}

footer p a {
  text-decoration: none;
  color: #FFB946;
  cursor: pointer;
  margin-right: 10px;
}

footer p a:hover {
  text-decoration: none;
  color: #FFB946;
}

@media screen and (max-width: 590px) {
  .select .table .btn {
    width: calc(100%);
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
