    @import 'variables';
    @import 'mixins';
    //body
    @include body;
    .bg-dark {
        @include navbar;
    }
    
    .heading {
        @include heading;
    }
    
    .images {
        .row {
            margin: 25px 0;
        }
        .col-md-3 {
            padding: 0;
        }
        a {
            img {
                width: calc(100%);
                height: calc(100%);
                object-fit: cover;
                margin-bottom: 30px;
            }
        }
        @media screen and (max-width: 590px) {
            .col-md-3 {
                padding: 0 15px 0 15px;
                margin: 20px 0;
            }
        }
    }