@import 'variables';
@import 'mixins';
//body
@include body;
.bg-dark {
    @include navbar;
}

.heading {
    @include heading;
}

.view {
    @include view;
}

.card {
    width: 95%;
    margin: 25px auto;
    p {
        font-size: 16px;
    }
}