    @import 'variables';
    @import 'mixins';
    //body
    @include body;
    .bg-dark {
        @include navbar;
    }
    
    .heading {
        @include heading;
    }
    
    .news {
        margin-bottom: 25px;
        a {
            text-decoration: none;
            cursor: pointer;
            color: #000;
            .card {
                @include cards;
            }
        }
        .btn {
            color: #fff;
        }
    }
    
    .h {
        width: 120px;
        object-fit: cover;
        height: 146px !important;
    }
    
    @media screen and (max-width: 590px) {
        .h {
            width: 100%;
            object-fit: cover;
            height: 150px !important;
        }
    }