@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #d9d9d9;
  font-family: "Cairo", fs;
  direction: rtl;
}

.h {
  width: 205px;
  height: 145px !important;
}

.labeled {
  position: relative;
  width: 100%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.labeled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.labeled .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.labeled:hover input ~ .checkmark {
  background-color: #ccc;
}

.labeled input:checked ~ .checkmark {
  background-color: #181817;
}

.labeled input:checked ~ .checkmark:after {
  display: block;
}

.labeled .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFB946;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.banner {
  position: relative;
  height: 200px;
}

.banner img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.banner a {
  text-decoration: none;
}

.modal .modal-body img {
  width: calc(95%);
  object-fit: cover;
}

.champions {
  background: #3d3f41;
  padding: 25px 20px;
  color: #d9d9d9;
}

.champions ul a {
  text-decoration: none;
  color: #d9d9d9;
}

.champions ul a li::before {
  content: "•";
  color: #ededed;
}

@media screen and (max-width: 590px) {
  .container {
    width: 100%;
  }
  footer form {
    width: 95%;
  }
  .h {
    width: 100%;
    height: 100% !important;
  }
}

footer {
  background-color: #3d3f41;
}

footer form {
  width: 65%;
}

footer form .form-control {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: .7rem 1.2rem;
  font-size: .99999rem;
  line-height: 1.25;
  color: #181817 !important;
  background-color: #fff;
}

@media screen and (max-width: 590px) {
  footer form {
    width: 90%;
  }
  footer .btn {
    min-width: calc(100% / 3);
  }
  footer .copy ul li:not(:nth-child(1))::before {
    width: 0;
  }
  footer .list-unstyled {
    padding-right: 15px !important;
  }
}

footer .btn {
  cursor: pointer;
  padding: 5px 20px;
  background: #181817;
  border: 1px solid #FFB946;
  -webkit-box-sizing: border-box;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  color: #737372;
  -webkit-transition: 0.66s ease-out;
  -moz-transition: 0.66s ease-out;
  -o-transition: 0.66s ease-out;
  transition: 0.66s ease-out;
  min-width: calc(100% / 4);
  padding: 15px;
  margin-top: 25px;
}

footer ul {
  padding-right: 15px;
  justify-content: center;
  display: flex;
}

footer ul li {
  margin-left: 15px;
}

footer ul li a {
  text-decoration: none;
  color: #737372;
}

footer ul li a:hover {
  color: #fff;
  transition: .3s ease-in;
}

.copy {
  background-color: #181817;
  padding: 10px 0 0 0;
}

.copy p {
  color: #737372;
  text-align: center;
}

.copy p a {
  margin-right: 10px;
  color: #FFB946;
  text-decoration: none;
}

.copy ul {
  justify-content: center;
  display: flex;
  text-align: center;
}

.copy ul li:not(:nth-child(1))::before {
  content: "|";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFB946;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: 10px;
  /* Also needed for space (tweak if needed) */
}

.copy ul li a {
  color: #737372;
  text-decoration: none;
}

.copy ul li a:hover {
  color: #fff;
}

.bg-dark {
  background: #181817 !important;
}

.bg-dark .nav-item .nav-link {
  color: #737372;
}

.bg-dark .nav-item .nav-link:hover {
  color: #fff;
  transition: .3s ease-in;
}

.bg-dark .navbar-brand {
  color: #FFB946;
}

.bg-dark .navbar-brand:hover {
  color: #FFB946;
}

.bg-dark .icon-bar {
  display: inline-block;
  cursor: pointer;
}

.bg-dark .icon-bar .bar1,
.bg-dark .icon-bar .bar2,
.bg-dark .icon-bar .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFB946;
  margin: 6px 0;
  transition: 0.4s;
}

.bg-dark .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bg-dark .change .bar2 {
  opacity: 0;
}

.bg-dark .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.heading {
  margin: 40px auto;
}

.heading h4 {
  font-size: 25px;
  font-weight: 600;
}

.heading hr {
  border: 2px solid #181817;
}

@media screen and (max-width: 590px) {
  .heading hr {
    width: 80%;
    float: left;
  }
}

.video {
  margin: 40px 0;
}

.video .ads {
  margin: 25px 0;
}

.video .badge {
  font-size: 60%;
  margin-top: 35px;
}

.video a {
  text-decoration: none !important;
}

.video h1 {
  font-weight: 300;
}

.video a {
  color: #d9d9d9;
}

.video a .card {
  box-shadow: 0 1px 9px -6px;
  border-radius: 0;
}

.video a .card .card-body {
  direction: rtl;
}

.video a .card .card-img,
.video a .card img {
  height: 100%;
}

.video .card {
  float: left;
  padding: 0;
  width: calc(100%);
  border: none;
  margin-bottom: 35px;
}

.video .card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.video .card .menu-content::before, .video .card .menu-content::after {
  content: '';
  display: table;
}

.video .card .menu-content::after {
  clear: both;
}

.video .card .menu-content li {
  display: inline-block;
}

.video .card .menu-content a {
  color: #fff;
}

.video .card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}

.video .card .wrapper {
  background-color: fff;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 9px -6px;
}

.video .card .wrapper img,
.video .card .wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.75555;
}

.video .card .wrapper video {
  cursor: pointer;
}

.video .card .wrapper:hover .data {
  transform: translateY(0);
}

.video .card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.video .card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.video .card .author {
  font-size: 12px;
}

.video .card .title {
  margin-top: 10px;
}

.video .card .text {
  height: 70px;
  margin: 0;
}

.video .card input[type='checkbox'] {
  display: none;
}

.video .card input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}

.video .example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.video .example-2 .header {
  color: #fff;
  padding: 1em;
}

.video .example-2 .header::before, .video .example-2 .header::after {
  content: '';
  display: table;
}

.video .example-2 .header::after {
  clear: both;
}

.video .example-2 .header .date {
  font-weight: 600;
  position: absolute;
  left: 0;
  font-size: 14px;
}

.video .example-2 .menu-content {
  float: right;
}

.video .example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}

.video .example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}

.video .example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.video .example-2 .title a {
  color: #fff;
}

.video .example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.video .example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.video .example-2 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.video .ads img {
  max-width: calc(100%);
  height: 80px;
}

.video .example-2 .button {
  background: unset;
  border: none;
}

.modal-content .modal-body {
  height: 100vh;
}

.modal-content .modal-body video {
  width: 100%;
  height: 100%;
}
