<!doctype html>
<html lang="ar">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/champ.css">
    <link rel="shortcut icon" href="images/favicon/logo.png">
    <title>اسم البطوله</title>
</head>

<body class="container">
    <main id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="home.html">KSAKORA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="create-player.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                اللاعبين
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="view-players.html">عرض اللاعبين</a>
                                <a class="dropdown-item" href="show-player.html">عرض بيانات اللاعبين</a>
                                <a class="dropdown-item" href="modfy-player.html">تعديل</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="create-team.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              الفرق
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="show-team.html">عرض الفرق</a>
                                <a class="dropdown-item" href="view-teams.html">عرض بيانات الفرق</a>
                                <div class="dropdown-divider"></div>
                                <a href="modfy-team.html" class="dropdown-item">تعديل الفرق</a>
                                <a href="team-add.html" class="dropdown-item"> اضافة الاحصائيات</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="create-champ.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              البطولات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="show-champ.html">عرض البطوله</a>
                                <a class="dropdown-item" href="view-champions.html">عرض بيانات البطولات</a>
                                <div class="dropdown-divider"></div>
                                <a href="chapions-stages-manuel.html" class="dropdown-item">تعديل البطوله</a>
                                <a href="chapions-stages-dynamic.html" class="dropdown-item"> ادوار اللطوله </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">تسجيل الخروج <i class="fa fa-user-circle-o ml-2"></i></a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav <div class="champions" v-show="icons">


        <div class="heading">
            <div class="row">
                <div class="col-2">
                    <h4>اسم البطوله</h4>
                </div>
                <div class="col-10">
                    <hr/>
                </div>
            </div>
        </div>
        <div class="sponsor">
            <div class="row">
                <div class="col-12 text-center mt-3 mb-3">
                    <h4>
                        هذه البطولة برعاية كلا من
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-6 m-auto">
                    <a href="#">
                        <img src="imgaes/sponsor/nike_PNG8.png" alt="spnosr name">
                    </a>
                </div>
                <div class="col-md-2  col-xs-6 m-auto">
                    <a href="#">
                        <img src="imgaes/sponsor/adidas_PNG19.png" alt="spnosr name">
                    </a>
                </div>
                <div class="col-md-2  col-xs-6 m-auto">
                    <a href="#">
                        <img src="imgaes/sponsor/adidas_PNG22.png" alt="spnosr name">
                    </a>
                </div>
                <div class="col-md-2  col-xs-6 m-auto">
                    <a href="#">
                        <img src="imgaes/sponsor/adidas_PNG19.png" alt="spnosr name">
                    </a>
                </div>
                <div class="col-md-2  col-xs-6 m-auto">
                    <a href="#">
                        <img src="imgaes/sponsor/nike_PNG8.png" alt="spnosr name">
                    </a>
                </div>
            </div>
        </div>
        <section class="cards">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <!-- statsics start -->
                        <div class="col-12">
                            <div class="statsics">
                                <div class="row">
                                    <div class="col">
                                        <span>
                                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                            الاهداف
                                        </span>
                                        <strong>
                                             100
                                         </strong>
                                    </div>
                                    <div class="col">
                                        <span>
                                               <img src="imgaes/favicon/icons8-ios-50.png" class="img-fluid">
                                                المباريات
                                            </span>
                                        <strong>
                                                 20
                                             </strong>
                                    </div>
                                    <div class="col">
                                        <span>
                                                <img src="imgaes/favicon/yc.png" class="img-fluid">
                                                    الانذارات
                                                </span>
                                        <strong>
                                                     120
                                                 </strong>
                                    </div>
                                    <div class="col">
                                        <span>
                                                <img src="imgaes/favicon/rc.png" class="img-fluid">
                                                        الطرد
                                                    </span>
                                        <strong>
                                                         10
                                                     </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="matches" id="champ">

                                <ul class="list-unstyled">
                                    <li class="liActive" @click="g1=true;g2=false;g3=false;"><a href="#g" style="color: #fff;"> المجموعات</a></li>
                                    <li @click="g1=false;g2=true;g3=false;"><a href="#m">المباريات </a></li>
                                    <li @click="g1=false;g2=false;g3=true;"><a href="#s">الاحصائيات</a></li>
                                </ul>

                            </div>
                        </div>
                        <!-- stages group order -->
                        <div class="col-12">
                            <div class="matches stages">
                                <div class="row">
                                    <div class="col-12 heading " id="g" v-show="g1">
                                        <div class="row">
                                            <div class="col-2">
                                                <h4>المجموعات</h4>
                                            </div>
                                            <div class="col-10">
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" v-show="g1">
                                        <div class="stage" style="overflow-x:auto;" v-for="(j,l) in 8" ::key="j">
                                            <h5 class="mt-4 mb-4">المجموعه {{j}}</h5>
                                            <table class="table table-striped">
                                                <thead class="bg-dark">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">اسم الفريق</th>
                                                        <th scope="col">المباريات</th>
                                                        <th scope="col">النقاط</th>
                                                        <th scope="col">له</th>
                                                        <th scope="col">عليه</th>
                                                        <th scope="col">الاهداف</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(i,m) in 4" ::key="i">
                                                        <th scope="row">{{i}}</th>
                                                        <td>الاهلي</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-12 heading " id="m" v-show="g2">
                                        <div class="row">
                                            <div class="col-2">
                                                <h4>المباريات</h4>
                                            </div>
                                            <div class="col-10">
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" v-show="g2">
                                        <div class="match">
                                            <!-- group stage -->
                                            <div class="row">
                                                <div class="col-12 mb-2 m-auto text-center backColor" v-for="(i,l) in 8" ::key="i">

                                                    <div class="center">
                                                        <div class="d-flex flex-nowrap centerlize">
                                                            <div class="order-3 p-2">
                                                                <a href="teams.html" style="text-decoration: none;">
                                                                    <img src="imgaes/favicon/ger.png" alt="germany">
                                                                </a>
                                                                <p>الاسم</p>
                                                            </div>
                                                            <div class="order-2 p-2">
                                                                <p class="badge badge-secondary">- : -</p>
                                                            </div>
                                                            <div class="order-1 p-2">
                                                                <a href="teams.html" style="text-decoration: none;">
                                                                    <img src="imgaes/favicon/ger.png" alt="germany">
                                                                </a>
                                                                <p>الاسم</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bottom">
                                                        <span class="badge badge-secondary">الحاله</span>
                                                        <p>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> التاريخ - الساعه
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 sta stas" v-show="g3">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12" v-for="(item,index) in arr" ::key="index">
                                                <div class="card">
                                                    <img src="imgaes/news/new1.jpg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{item}}</h5>
                                                        <p class="card-text">22</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 heading sta" id="s" v-show="g3">
                                        <div class="row">
                                            <div class="col-2">
                                                <h4>الهدافين</h4>
                                            </div>
                                            <div class="col-10">
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 sta" v-show="g3">
                                        <div class="row text-center">
                                            <div class="col-md-3 col-xs-12" v-for="(i,n) in 4" ::key="i">
                                                <div class="card">
                                                    <img src="imgaes/about/iconfinder_user_male2_172626.png" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">اسم الاعب</h5>
                                                        <p class="card-text">اسم النادي</p>
                                                        <p class="card-text">25 هدف</p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 heading sta" v-show="g3">
                                        <div class="row">
                                            <div class="col-2">
                                                <h4>كلين شيت</h4>
                                            </div>
                                            <div class="col-10">
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 sta" v-show="g3">
                                        <div class="row text-center">
                                            <div class="col-md-3 col-xs-12" v-for="(i,n) in 4" ::key="i">
                                                <div class="card">
                                                    <img src="imgaes/about/iconfinder_user_male2_172626.png" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">اسم الاعب</h5>
                                                        <p class="card-text">اسم النادي</p>
                                                        <p class="card-text"> 5 مباريات</p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </section>
        <footer id="footer">
            <div class="row">
                <div class="col-12 col-xs-12  m-auto text-center">
                    <form method="" action="" class="m-auto">
                        <div class="form-group">
                            <input class="form-control" type="text" name="" placeholder="الاسم">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="" placeholder="البريد الالكتوني">
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" name="" rows="3" placeholder="الرساله"></textarea>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ارسال</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 text-center">
                    <ul class="list-unstyled text-center">
                        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <div class="row">
                    <div class="col-12">
                        <p>جميع الحقوق محفوظه لموقع <a href="#">KSAKORA</a></p>
                    </div>
                    <div class="col-12">
                        <ul class="list-unstyled p-0">
                            <li><a href="#">اخبار</a></li>
                            <li><a href="#">مقالات</a></li>
                            <li><a href="#">صور</a></li>
                            <li><a href="#">فيديوهات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

</html>